// colors
$accent-color: #63d0df;
$accent-color2: #00525a;

$white: #f5f5f5;

$bg-color: #1b1b1b;
$primary-container-color: #262626;

$bright-red: #ffa09a;


// other vars
$panel-height: 40px;
$border-radius: 12px;