@use "../../styles/variables" as *;

.startMenu {
  position: fixed;
  overflow: hidden;
  margin: 1rem;
  bottom: 40px;
  left: 0;
  width: 300px;
  background-color: $window-bg-2;
  border-radius: 4px;
  z-index: 9999;
  backdrop-filter: blur(10px);
  border-radius: $border-radius;
}

.header {
  padding: 12px;
  background-color: $window-bg-1; 
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.appList {
  max-height: 400px;
  overflow: scroll;

  .appItem {
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
    cursor: pointer;
    border-bottom: 1px solid $window-bg-1;
  
    span {
      font-size: 20px;
      margin-right: 12px;
      // width: 24px;
      height: 32px;
      text-align: center;
    }

    &:hover{
      background-color: $white;
    }
  }
}
