@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

html,
body {
    min-height: 100vh;

    /* display: flex;
    flex-direction: column; */
    margin: 0px;
}

/* header {

} */

h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18.72px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 13.28px;
}
h6 {
    font-size: 10.72px;
}

a .button {
	border: 2px solid #04AA6D;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* abbr {

} */

/* address {

} */

/* b {

} */

/* blockquote {

} */

/* button {

} */

.code-block {
    background-color: #d0d0d0;
    color: #000000;
    padding: 10px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    border-radius: 8px;
}
.code, .code-block p {
    margin: 0px;
}
  


/* del {

} */

/* hr {

} */

/* i {

} */

/* ol {

} */

/* ul {

} */

/* li {

} */

/* input {

} */

/* mark {

} */

/* meter {

} */

/* select {

} */

/* option {

} */

p {
    font-size: 16px;
}

/* progress {

} */

small {
    font: 13px;
}

/* strong {

} */

/* table {

} */

/* tr {

} */

/* td {

} */

/* footer {

} */

/* more css */

.search_form {
    width: 600px;
    /* search form is ment to be applied to a div */
    border-radius: 10px;
    background-color: #333;

    padding-left: 10px;
    /* border-bottom: 3px solid #AAA; */
}
.search_form .search_form_input {
    width: 550px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0px;
    font-size: 14px;
    height: 44px;
}
.search_form .search_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}
